//subheader styes
.subheader {
  border: black solid 1px;
  background-color: white;
  color: black;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
}
mat-card {
  padding: 5px;
  width: auto;
}

//formcontent styles
.formcontent {
  margin-left: auto;
  margin-right: auto;
  width: 12em;
}
